{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'DNAC/js/bootstrap.bundle.min.js' %}"></script>
    {%  if controller_health  %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        // Need to declare variables used in javascript as global variables
        // https://stackoverflow.com/questions/36689075/how-to-use-django-variable-in-javascript-file
        var access_health = {{ controller_health.access }};
        var distribution_health = {{ controller_health.distribution }};
        var core_health = {{ controller_health.core }};
        var wlc_health = {{ controller_health.wlc }};
        var ap_health = {{ controller_health.ap }};
    </script>
    <script type="text/javascript" src="{% static 'DNAC/js/gauges.js' %}"></script>
    {%  endif %}

    {% block head %}
    {% endblock head %}


    {% block title %}
    {% endblock title %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'DNAC/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Cisco DNA-C tool{% if user.is_authenticated %}- Hi {{ user.username }}.{% endif %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
            {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'health' %}">Health</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="{% url 'events' %}">Events</a>
          </li>
             {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{%  url 'manage_controllers' %}">Manage Controllers</a>
                 </li>
             {%  endif %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'logout' %}?next=/">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{%  url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href={%  url 'admin:index' %}>Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
   <br>
   <div class="container">
   <div class="row">
   <div class="col-lg-12 text-center">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}<div class="alert alert-{{ message.tags }}">
            {% else %}
                 <div class="alert alert-info">
            {% endif %}
        {{ message }}
        </div>
        {% endfor %}
    {% endif %}
   </div>
   </div>

  {% block content %}
  {% endblock content %}

</body>

</html>
