{%  extends "DNAC/base.html" %}

{% block title %}
        <title>CS50w - Final Project</title>
{% endblock title %}


  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Manage your Cisco DNA Controllers.</h1>
          {%  if not user.is_authenticated %}
        <p class="lead">Please login to see the menu!</p>
          {%  endif %}
          {%  if user.is_authenticated %}
        <br>
        <h3>Configured controllers:</h3>
              {% if controllers %}
                  <ul>
                  {% for controller in controllers %}
                  <li>{{ controller.name }}: <a href="{{ controller.url }}">{{ controller.url }}</a></li>
                  {% endfor %}
                  <p></p>
                  {% endif %}
        <br>
        <h3>Add a new controller:</h3>
        <form method="post" id="AddControllerForm">
        {% csrf_token %}
        <table class="table text-center">

            {{ form.as_table }}

        </table>
        <button type="submit">Add</button>
        <a href="{% url 'manage_controllers' %}">Cancel</a>
       </tr>

        </form>
          {%  endif %}
      </div>
    </div>
  </div>
  {% endblock content %}

